---
import meImg from '@/assets/me.avif'
import type { ui } from '@/i18n/ui'
import { useTranslations } from '@/i18n/utils'
import { processHighlightedText } from '@/utils/processHighlightedText'
import { Image } from 'astro:assets'

const personalImageAlt = 'Alexander Calle'

const t = useTranslations(Astro.currentLocale as keyof typeof ui)

const paragraph1 = t('section.about.description.paragraph1')
const paragraph2 = processHighlightedText(
  t('section.about.description.paragraph2')
)
const paragraph3 = processHighlightedText(
  t('section.about.description.paragraph3')
)
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row animate-in-view'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      {paragraph1}
    </p>

    <p set:html={paragraph2} />

    <p set:html={paragraph3} />
  </div>

  <Image
    width='269'
    height='269'
    src={meImg}
    loading='lazy'
    decoding='async'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20'
    style='object-position: 50% 50%'
  />
</article>
