---
import '@fontsource-variable/onest'
import onestvariableWoff2 from '@fontsource-variable/onest/files/onest-latin-wght-normal.woff2?url'

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

import '../styles/global.css'

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale} class='font-onest scroll-smooth motion-reduce:scroll-auto'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:image' content='/porfolio.webp' />
    <link rel='preload' as='font' type='font/woff2' href={onestvariableWoff2} crossorigin />
    <title>{title}</title>
    <script is:inline>
      const getThemePreference = () => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme')
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }
      const isDark = getThemePreference() === 'dark'
      document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

      if (typeof localStorage !== 'undefined') {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains('dark')
          localStorage.setItem('theme', isDark ? 'dark' : 'light')
        })
        observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
      }
    </script>
  </head>

  <body
    class='relative text-neutral-900 dark:text-neutral-200 flex flex-col min-h-screen overscroll-none [&>p]:leading-7 [&>p]:text-base [&>p]:text-pretty [&:where(h1,h2,h3,h4,h5,h6)]:text-balance'
  >
    <div class='background-radial-light'></div>
    <div class='bg_pattern z-[-1] w-full h-screen absolute top-0 left-0'></div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .bg_pattern {
    --bg-pattern-from: #93c5fd;
    --bg-pattern-to: #e5e5f7;
    mask-image: linear-gradient(to bottom, black, transparent);
    mask-repeat: no-repeat;
    mask-position: bottom;

    background-position: center center;
    background-color: var(--bg-pattern-to);
    background-image: radial-gradient(var(--bg-pattern-from) 1.4px, var(--bg-pattern-to) 1.4px);
    background-size: 28px 28px;

    animation: zoom-out-background 0.5s ease-in-out;
    @staring-style {
      background-size: 120px 120px;
      opacity: 0.5;
    }
  }

  .dark .bg_pattern {
    --bg-pattern-from: #031954;
    --bg-pattern-to: #030712;
  }

  @view-transition {
    navigation: auto;
  }
</style>
