---
import '@fontsource-variable/onest'
import onestvariableWoff2 from '@fontsource-variable/onest/files/onest-latin-wght-normal.woff2?url'
import { ClientRouter } from 'astro:transitions'

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

import '../styles/global.css'

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
const { currentLocale } = Astro

let isDark = false

if (Astro.cookies.has('isDark')) {
  const value = Astro.cookies.get('isDark')?.value
  isDark = value === 'true'
}
---

<!doctype html>
<html
  lang={currentLocale}
  class:list={[isDark && 'dark']}
  class='font-onest scroll-smooth motion-reduce:scroll-auto'
>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:image' content='/porfolio.webp' />
    <link
      rel='preload'
      as='font'
      type='font/woff2'
      href={onestvariableWoff2}
      crossorigin
    />
    <ClientRouter />
    <title>{title}</title>
  </head>

  <body
    class='relative text-neutral-900 dark:text-neutral-200 flex flex-col min-h-screen overscroll-none [&>p]:leading-7 [&>p]:text-base [&>p]:text-pretty [&:where(h1,h2,h3,h4,h5,h6)]:text-balance'
  >
    <div class='background-radial-light'></div>
    <div class='bg_pattern z-[-1] w-full h-screen absolute top-0 left-0'></div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .bg_pattern {
    --bg-pattern-from: #93c5fd;
    --bg-pattern-to: #e5e5f7;
    mask-image: linear-gradient(to bottom, black, transparent);
    mask-repeat: no-repeat;
    mask-position: bottom;

    background-color: var(--bg-pattern-to);
    background-image: radial-gradient(
      var(--bg-pattern-from) 1.4px,
      var(--bg-pattern-to) 1.4px
    );
    background-size: 28px 28px;
  }

  .dark .bg_pattern {
    --bg-pattern-from: #031954;
    --bg-pattern-to: #030712;
  }
</style>
